src/main/resources/buckets.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.concretepage.com/bucket-ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.concretepage.com/bucket-ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.concretepage.com/bucket-ws">
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://www.concretepage.com/bucket-ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="getBucketByIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBucketByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bucketInfo" type="tns:bucketInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="bucketInfo">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="capacity" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getAllBucketsRequest">
                <xs:complexType/>
            </xs:element>
            <xs:element name="getAllBucketsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="bucketInfo" type="tns:bucketInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="serviceStatus">
                <xs:sequence>
                    <xs:element name="statusCode" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addBucketRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element name="type" type="xs:string"/>
                        <xs:element name="capacity" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addBucketResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                        <xs:element name="bucketInfo" type="tns:bucketInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateBucketRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bucketInfo" type="tns:bucketInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateBucketResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteBucketRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteBucketResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateBucketResponse">
        <wsdl:part element="tns:updateBucketResponse" name="updateBucketResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllBucketsResponse">
        <wsdl:part element="tns:getAllBucketsResponse" name="getAllBucketsResponse"/>
    </wsdl:message>
    <wsdl:message name="getBucketByIdRequest">
        <wsdl:part element="tns:getBucketByIdRequest" name="getBucketByIdRequest"/>
    </wsdl:message>
    <wsdl:message name="addBucketRequest">
        <wsdl:part element="tns:addBucketRequest" name="addBucketRequest"/>
    </wsdl:message>
    <wsdl:message name="getBucketByIdResponse">
        <wsdl:part element="tns:getBucketByIdResponse" name="getBucketByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="addBucketResponse">
        <wsdl:part element="tns:addBucketResponse" name="addBucketResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteBucketResponse">
        <wsdl:part element="tns:deleteBucketResponse" name="deleteBucketResponse"/>
    </wsdl:message>
    <wsdl:message name="updateBucketRequest">
        <wsdl:part element="tns:updateBucketRequest" name="updateBucketRequest"/>
    </wsdl:message>
    <wsdl:message name="getAllBucketsRequest">
        <wsdl:part element="tns:getAllBucketsRequest" name="getAllBucketsRequest"/>
    </wsdl:message>
    <wsdl:message name="deleteBucketRequest">
        <wsdl:part element="tns:deleteBucketRequest" name="deleteBucketRequest"/>
    </wsdl:message>
    <wsdl:portType name="BucketsPort">
        <wsdl:operation name="updateBucket">
            <wsdl:input message="tns:updateBucketRequest" name="updateBucketRequest"/>
            <wsdl:output message="tns:updateBucketResponse" name="updateBucketResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllBuckets">
            <wsdl:input message="tns:getAllBucketsRequest" name="getAllBucketsRequest"/>
            <wsdl:output message="tns:getAllBucketsResponse" name="getAllBucketsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getBucketById">
            <wsdl:input message="tns:getBucketByIdRequest" name="getBucketByIdRequest"/>
            <wsdl:output message="tns:getBucketByIdResponse" name="getBucketByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addBucket">
            <wsdl:input message="tns:addBucketRequest" name="addBucketRequest"/>
            <wsdl:output message="tns:addBucketResponse" name="addBucketResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteBucket">
            <wsdl:input message="tns:deleteBucketRequest" name="deleteBucketRequest"/>
            <wsdl:output message="tns:deleteBucketResponse" name="deleteBucketResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BucketsPortSoap11" type="tns:BucketsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updateBucket">
            <soap:operation soapAction=""/>
            <wsdl:input name="updateBucketRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateBucketResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllBuckets">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAllBucketsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllBucketsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBucketById">
            <soap:operation soapAction=""/>
            <wsdl:input name="getBucketByIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getBucketByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addBucket">
            <soap:operation soapAction=""/>
            <wsdl:input name="addBucketRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addBucketResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteBucket">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteBucketRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteBucketResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BucketsPortService">
        <wsdl:port binding="tns:BucketsPortSoap11" name="BucketsPortSoap11">
            <soap:address location="http://localhost:8080/soapws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>